{% extends "/base.html" %}

{% block content %}

<div class="container shadow border border-light-subtle rounded text-center pt-2" style="min-height: 800px; max-height: 870px">
    <h1 class="mt-2"><b><i class="bi bi-wrench"></i> Edytuj Specyfikacje</b></h1>
    <p class="px-3">
        Zarządzaj opcjami różnych specyfikacji urządzeń wykorzystywanych później do filtrowania.
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="d-flex flex-column align-items-center float-none">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} w-50 alert-dismissible fade show mt-1 mx-auto text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zamknij"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <!--TODO: Implement limiting every tags length (Shit goes down if you let people spam in tags)-->

    <form method="post">
        <div class="table overflow-auto" style="height: 600px;">
            <table class="table table-sm text-wrap align-middle" id="specsTable">
                <thead class="table-light">
                    <tr>
                        <th scope="col" style="width: 15%">Nazwa</th>
                        <th scope="col">Edycja nazwy</th>
                        <th scope="col">Lista opcji</th>
                        <th scope="col">Usuń</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for item in specs %}
                        <tr>
                            <td style="width: 15%" class="text-break">
                                <b>{{ item.name }}</b>
                            </td>
                            <td style="width: 10%">
                                <input type="text" maxlength="100" class="form-control" name="editName{{ item._id }}" placeholder="Nowa nazwa">
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="tag-input form-control text-start" name="editOptions{{ item._id }}" value="{{ item.options }}">
                                </div>
                            </td>
                            <td style="width:5%">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirm" data-bs-name="{{ item.name }}" data-bs-identifier="{{ item._id }}"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not specs %}
            <div id="infoMissing" class="d-flex justify-content-center align-items-center" style="height: 500px; overflow-y: auto;">
                <h3 class="d-flex alert alert-danger h-25 w-75 align-items-center justify-content-center">Brak specyfikacji</h3>
            </div>
            {% endif %}
        </div>

        <!-- Action buttons -->
        <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
            <button type="button" id="addRowBtn" class="btn btn-primary">Dodaj nową opcje</button>
            <button type="submit" name="saveAllSpecs" value="1" class="btn btn-success">Zapisz wszystko</button>
        </div>
    </form>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteConfirm" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteLabel">Usuwanie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modal-message"></p>
                </div>
                <div class="d-flex modal-footer justify-content-center">
                    <form method="post" class="d-flex w-100">
                        <button type="button" class="btn btn-danger w-25 mx-auto" data-bs-dismiss="modal">Nie</button>
                        <button type="submit" class="btn btn-success w-25 mx-auto" id="modalConfirmButton" name="delete" value="">Tak</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

<script>
    document.querySelectorAll('.tag-input').forEach((input) => {
    new Tagify(input);
    });

    document.addEventListener('keydown', function (e) {
    const isTagifyInput = e.target.classList.contains('nosubmit');
    if (isTagifyInput && e.key === 'Enter') {
        e.preventDefault(); // zapobiega submitowi formularza
    }
    });

    // Counter for new row IDs
    var counter = 1;

    // Delete confirmation modal setup
    const exampleModal = document.getElementById('deleteConfirm')
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            // Get button that triggered the modal
            const button = event.relatedTarget

            // Extract info from data-bs-* attributes
            const name = button.getAttribute('data-bs-name')
            const id = button.getAttribute('data-bs-identifier')

            // Update the modal's content
            const modalBody = exampleModal.querySelector('#modal-message')
            const modalConfirm = exampleModal.querySelector('#modalConfirmButton')

            modalBody.innerHTML = `Czy jesteś pewien, że chcesz usunąć specyfikacje o nazwie: ${name}`
            modalConfirm.value = `${id}`
        })
    }

    // Add new row functionality
    document.getElementById('addRowBtn').addEventListener('click', function() {
        const tableBody = document.querySelector('#specsTable tbody');

        // Create new row HTML
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
            <tr>
                            <td style="width: 20%" colspan="2">
                                <input type="text" class="form-control" name="newName` + counter + `" placeholder="Nowa nazwa">
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="nosubmit tag-input` + counter + ` form-control text-start" style="flex-wrap: wrap;" name=newOptions` + counter + ` value="">
                                </div>
                            </td>
                            <td style="width:5%">
                                <button type="button" class="btn btn-danger removeRowBtn"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
        `;

        // Append new row to table
        tableBody.appendChild(newRow);

        new Tagify(newRow.querySelector(`input[name="newOptions${counter}"]`));

        // Hide "no specifications" message if it exists
        const message = document.getElementById('infoMissing');
        if (message) {
            message.classList.add("d-none");
        }

        // Increment counter for next row
        counter++;
    });

    // Remove row functionality
    document.querySelector('#specsTable').addEventListener('click', function(event) {
        if (event.target.classList.contains('removeRowBtn')) {
            event.target.closest('tr').remove();
        }
    });
</script>


{% endblock %}