{% extends "/base.html" %}

{% block content %}
  <div class="container shadow border border-light-subtle rounded text-center pt-2" style="min-height: 100%; max-height: 150%">
    <h1><b>Przeglądaj Modele</b></h1>
    <p> Lista gotowych modeli dla danego typu urządzeń.
        Opcje dodawania, usuwania i edytowania gotowych presetów dla danego modelu,
        ze względu na usprawnienie użytkowania aplikacji
    </p>
      <div class="table-responsive" style="height: 100%; max-height: 600px">
        <table class="table" style="max-height:50%" id="specsTable">
          <thead>
              <tr>
                <th scope="col" style="width: 20%">Nazwa</th>
                <th scope="col" style="width: 10%">Producent</th>
                <th scope="col" style="width: 15%">Typ urządzenia</th>
                <th scope="col" style="width: 5%">Ilość</th>
                <th scope="col" style="width: 35%">Nazwy dodanych specyfikacji</th>
                <th scope="col" style="width: 15%">Akcje</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
            {% if not models %}
              <tr>
                <td colspan="6">
                  <div id="infoMissing" class="alert alert-danger">
                    <h3>Brak żadnych specyfikacji</h3>
                  </div>
                </td>
              </tr>
            {% else %}
              {% for model in models%}
                <tr class="align-middle">
                  <th scope="row">{{model.name}}</th>
                  <td> {{model.manufacturer}} </td>
                  <td> {{model.device_type}} </td>
                  <td> 0 </td>
                  <td> {{model.names}} </td>
                  <td><button type="button" onclick="deleteRow('{{model._id}}')" class="btn btn-danger">Usuń</button></td>
                </tr>
              {% endfor %}
            {% endif %}
            </tbody>
        </table>

        </div>

      <form method="POST">
        <button type="submit" name="action" value="add" class="btn btn-primary mt-2">Dodaj nowy model</button>
      </form>

  </div>

  <script>

    async function deleteRow(id) {
         console.log("Prześlij")
         if (confirm("Czy na pewno chcesz usunąć ten model?")) {
           var deleteData = new FormData();
           deleteData.append("action", "delete");
           deleteData.append("deleteModel", id);

           try {
            await fetch("/listujModele", {
            method: "POST",
            body: deleteData })
           } catch {
            console.error("Błąd")
           }

          window.location.replace("/listujModele")
        };
      };

  </script>
{% endblock %}