{% extends "/base.html" %}

{% block content %}

<div class="container shadow border border-light-subtle rounded text-center pt-2">
    <h1 class="mt-2"><b>Edytuj Specyfikacje</b></h1>
    <p class="px-3">
        Zarządzaj specyfikacją różnych urządzeń dla poprawności działania filtrów.
        Wszystkie elementy muszą znajdować się w formie listy bez nawiasów, np. <b>"data1, data2, data3"</b>.
        Nieprzestrzeganie zasad może powodować błędy przy edycji i dodawaniu.
    </p>

    <form method="post">
        <div class="table-responsive overflow-auto" style="max-height: 600px;">
            <table class="table table-sm text-wrap align-middle" id="specsTable">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Lista opcji</th>
                        <th scope="col">Akcja</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for item in specs %}
                        <tr>
                            <td style="width: 35%">
                                <div class="input-group">
                                    <span class="input-group-text"><b>{{ item.name }}</b></span>
                                    <input type="text" class="form-control" name="editName{{ item._id }}"
                                           placeholder="Edytuj to pole aby zmienić">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text"><b>[</b></span>
                                    <input type="text" class="form-control" name="editOptions{{ item._id }}"
                                           value="{{ item.options }}">
                                    <span class="input-group-text"><b>]</b></span>
                                </div>
                            </td>
                            <td style="width:10%">
                                <button type="button" onclick="deleteRow('{{ item._id }}')" class="btn btn-danger">Usuń</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if not specs %}
                <div id="infoMissing" class="alert alert-danger text-center">
                    <h3>Brak specyfikacji</h3>
                </div>
            {% endif %}
        </div>

        <!-- Przyciski -->
        <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
            <button type="button" id="addRowBtn" class="btn btn-primary">Dodaj</button>
            <button type="submit" name="saveAllSpecs" value="1" class="btn btn-success">Zapisz wszystko</button>
        </div>
    </form>
</div>

  <script>
  </script>
{% endblock %}